CREATE DATABASE [IntranetMacStats]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IntranetMacStats', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\IntranetMacStats.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IntranetMacStats_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\IntranetMacStats_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [IntranetMacStats]
GO
USE [IntranetMacStats]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [IntranetMacStats] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
